<?xml version="1.0"?>
<launch>
 <arg name="gui" default="True" />
	<param name="use_gui" value="$(arg gui)"/>
	<param name="robot_description"
        command="$(find xacro)/xacro.py '$(find robot_description)/urdf/robot.xacro'"/>
	
<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	
<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
   <param name="publish_frequency" type="double" value="30.0" />
   <param name="use_tf_static" type="bool" value="false" />	
</node>

<node name="serial_node" pkg="rosserial_python" type="serial_node.py">
   <param name="port" value="/dev/ttyACM0"/>
</node>

<node name="base" pkg="robot_controller" type="base"/>

</launch>
